/*/ font /*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*/ body /*/
body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
}

/*/ vidéo de fond /*/
.bg
	body{margin: 0;}
	
	.bg {
		position: fixed;
		top: -180px;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(video-fond.mp4);
		height: 100vh;
    width: 100vw;
		background-position: center;
		background-size: cover;
		filter: brightness(0.2);
    z-index: -1;
	}

/*/ barre de navigation /*/
nav {
  background-color: #d3a625;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

.nav-links {
  list-style-type: none;
  padding: 10px 5px;
  gap: 20px;
}

nav ul {
  display: flex;
}

nav a {
  font-size: 1.3rem;
  transition: color 0.3s ease;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #740001;
}

.logo {
  height: 2rem;
}


/* sommaire */
#sommaire	{
  text-align: center;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

#sommaire ul	{
  display: inline-block;
  margin: auto;
  text-align: left;
}
#sommaire a	{
  color: white;
  text-decoration: none;
}
#sommaire a:hover	{
  color: mediumvioletred;
  text-decoration: none;
}
#sommaire ul ol {
  display: none;
  color: white;
  text-decoration: none;
}
#sommaire ul li:hover ol	{
  display: block;
  color: #AAAAAA;
  text-decoration: none;
}
#sommaire ul ul {
  display: none;
  color: white;
  text-decoration: none;
}
#sommaire ol li:hover ol	{
  display: block;
  color: #AAAAAA;
  text-decoration: none;
}
#sommaire ul li:hover ul	{
  display: block;
  color: #AAAAAA;
  text-decoration: none;
}



/*/ footer /*/
footer {
  color: black;
}

.sites {
  font-size: 1.2rem;
  list-style-type: none;
  display: flex;
  justify-content: right;
  margin-right: 1rem;
  gap: 10px;
}

i {
  color: white;
}

/* flèche pour retourner en haut de page */
.arrow	{
  position: fixed;
  left: 15px;
  bottom: 10px;
  padding: 5px;
  scale: 2;
}


/*/ textes /*/
h1 {
  text-align: center;
  color: #F0C75E;
  margin: 2rem;
}

h2 {
  text-align: center;
  color: #F0C75E;
}

h3 {text-align: center;}

p {
  margin: 3rem;
  text-align: justify;
}



/*/ page d'accueil /*/
.houses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2rem;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3rem;
  
}

.img_zoom {
  padding: 10px;
  transition: transform 0.3s ease;
  border-radius: 5%;
}

.img_zoom:hover {
  transform: scale(1.5);
}


/*/ page des personnages /*/
.persos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3rem;
}

.pers {
  list-style-type: none;
}

.img_persos {
  padding: 10px;
  transition: transform 0.3s ease;
}
.img_persos:hover {
  transform: scale(1.1);
}

.txt_persos {
  display: none;
  transition: transform 0.3s ease;
}
.txt_persos ul li:hover li {
  display: block;
}
